fastapi[standard]
pydantic
pydantic-settings
langchain_huggingface
langchain
langchain-community
langchain-text-splitters

chromadb

sentence-transformers

rank-bm25
langchain-chroma
unstructured
unstructured[all-docs]
langchain-unstructured
pypdf
python-docx

python-dotenv

requests